<div class="about container">
  <section>
    <div class="container">
      <div class="row margin-top40 margin-bottom20">
        <div class="col">
          <h1 class="display-3" style="min-height: 160px">
            Carlton Stith likes...<br />
            <span class="featured-title">
              {{ typedText$ | async }}
            </span>
          </h1>
          <div class="my-4">
            <p class="lead">
              I'm a full-stack software engineer solving problems with code
              right outside the city of Philadelphia, PA.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-12 margin-top40 margin-bottom40">
          <h3 class="text-center">Latest From the Blog</h3>
        </div>
        <!-- Latest Blog Entries-->
        <div class="col-md-4 d-flex" *ngFor="let post of posts; let i = index">
          <div class="card mb-4 shadow-sm">
            <img
              src="{{ post.jetpack_featured_media_url }}"
              alt="CeeJayS Media blog featured image"
              class="blog-image"
            />
            <div class="card-body">
              <div>
                <h3>{{ post.title.rendered }}</h3>
                <small class="text-muted">{{ post.date | date }}</small>
                <div class="bar"></div>
                <!-- <p>{{ post.excerpt.rendered }}</p> -->
                <p [innerHTML]="post.excerpt.rendered"></p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ post.link }}" target="_blank">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Read More
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <div class="row margin-top40 margin-bottom40">
        <hr />
        <div class="container px-4 py-5" id="icon-grid">
          <h2 class="pb-2 text-center">
            Some of the technologies that I use on a daily basis
          </h2>

          <div
            class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
          >
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img class="tech" src="../../../assets/html.png" alt="HTML5" />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img class="tech" src="../../../assets/css-3.png" alt="CSS3" />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img
                  class="tech"
                  src="../../../assets/js.png"
                  alt="JavaScript"
                />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img
                  class="tech"
                  src="../../../assets/nodejs.png"
                  alt="Node.js"
                />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img
                  src="../../../assets/icons8-angular-48.png"
                  alt="Angular"
                  class="tech"
                />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img
                  class="tech"
                  src="../../../assets/react.png"
                  alt="react.js"
                />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img class="tech" src="../../../assets/git.png" alt="git" />
              </div>
            </div>
            <div class="col d-flex col d-flex justify-content-center">
              <div>
                <img class="tech" src="../../../assets/c-sharp.png" alt="c#" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
