<div *ngIf="footer.visible">
  <footer>
    <div class="container">
      <div class="row text-center">
        <div class="row py-2">
          <div class="col-sm">
            <a href="https://github.com/carltonstith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
          <div class="col-sm">
            <a href="https://twitter.com/carltonstith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
          <div class="col-sm">
            <a href="https://www.linkedin.com/in/carltonjstith/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
          <div class="col-sm">
            <a href="https://codepen.io/carltonstith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-codepen fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>
        <div class="row py-2">
          <div class="col">
            <p>
              &copy; 2013- <span>{{ currentYear }}</span> Carlton Stith
              <a
                href="mailto:carlton215@gmail.com?Subject=Front%20End%20Application%20Work"
                target="_top"
                class="orange"
                >Contact Me</a
              >
            </p>
            <ng-template class="credit">
              <p><a href="https://www.flaticon.com/free-icons/html" title="html icons">Html icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/css" title="css icons">Css icons created by Pixel perfect - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/javascript" title="javascript icons">Javascript icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/nodejs" title="nodejs icons">Nodejs icons created by shmai - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/react" title="react icons">React icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/c-sharp" title="c sharp icons">C sharp icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/git" title="git icons">Git icons created by pictogramer - Flaticon</a></p>
              <p><a target="_blank" href="https://icons8.com/icon/j9DnICNnlhGk/angularjs">angular</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
              <p><a target="_blank" href="https://icons8.com/icon/b9csPDvC8JBF/sql">SQL</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
              <p><a target="_blank" href="https://icons8.com/icon/nUFOCFvI5eIk/ionic">Ionic</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
              <p><a target="_blank" href="https://icons8.com/icon/74402/mongodb">MongoDB</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- <div *ngIf="footer.visible">
  <footer>
    <div class="container padding-top20 padding-bottom20">
      <div class="row text-center padding-top10">
        <div class="row py-2">
          <div class="col-sm">
            <a href="https://github.com/carltonstith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
          <div class="col-sm">
            <a href="https://twitter.com/carltonstith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
          <div class="col-sm">
            <a href="https://www.linkedin.com/in/carltonjstith/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
          <div class="col-sm">
            <a href="https://codepen.io/carltonstith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-codepen fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </div>
        </div>
        <div class="row py-2">
          <div class="col">
            <p>
              &copy; 2013- <span>{{ currentYear }}</span> Carlton Stith
              <a
                href="mailto:carlton215@gmail.com?Subject=Front%20End%20Application%20Work"
                target="_top"
                class="orange"
                >Contact Me</a
              >
            </p>
            <ng-template class="credit">
              <p><a href="https://www.flaticon.com/free-icons/html" title="html icons">Html icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/css" title="css icons">Css icons created by Pixel perfect - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/javascript" title="javascript icons">Javascript icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/nodejs" title="nodejs icons">Nodejs icons created by shmai - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/react" title="react icons">React icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/c-sharp" title="c sharp icons">C sharp icons created by Freepik - Flaticon</a></p>
              <p><a href="https://www.flaticon.com/free-icons/git" title="git icons">Git icons created by pictogramer - Flaticon</a></p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div> -->
