.bg-dark {
  background-color: #404040 !important;
}
.navbar-brand {
  text-indent: -9999px;
  background: url(../../../assets/logo-white.svg);
  background-repeat: no-repeat;
  width: 90px;
}

button {
  border-color: rgba(255, 255, 255);
}

#nav a {
  font-weight: 600;
  color: #fff;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
