<div class="bg-dark">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        <div id="logo" class="navbar-brand"><h1>Carlton Stith</h1></div>
        <!-- <span class="fs-4 navbar-brand">
          <h1>Carlton Stith</h1>
        </span> -->
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/projects" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Portfolio</a>
        </li>
        <!-- <li class="nav-item">
          <a href="https://www.ceejaysmedia.com/dotCeeJayS/"
          target="_blank" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Blog</a>
        </li> -->
      </ul>
    </header>
  </div>
</div>
<!-- <div id="nav">
  <nav
    class="navbar bg-dark border-bottom border-body"
    data-bs-theme="dark"
    toggleable="lg"
    type="dark"
    variant="dark"
    *ngIf="nav.visible"
  >
    <div class="container">
      <a class="navbar-brand" routerLink="/">Carlton Stith</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/"
              routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
              routerLinkActive="router-link-active"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/projects"
              routerLinkActive="router-link-active"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://www.ceejaysmedia.com/dotCeeJayS/"
              target="_blank"
              >Blog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->
