<div class="portfolio">
  <section class="bg-primary-3 text-dark margin-top40 margin-bottom40">
    <div class="container mt-lg-6">
      <div class="row">
        <div class="col">
          <h1 class="display-3">Carlton Stith works with...<br><span class="featured-title">{{ title[0] }}</span></h1>
          <!-- <h2>Front-End Developer</h2> -->
          <div class="my-4">
            <p class="lead">Hi. Thanks for taking a look at <span>my portfolio</span>. <br> Some of the projects that are featured here are <span>labors of love</span> and other were paid projects. <br> I'm currently <span>available for hire</span>.</p>
          </div>
          <button class="btn" routerLink="/experience" routerLinkActive="router-link-active">Hire Me</button>
          <!-- <b-button variant="success" href="/resume">Hire Me</b-button> -->
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="portfolio-image-one slide-right slide-animation" data-aos="fade-right">
            <img src="../../../assets/christmasCountdownTimer.jpg" alt="Countdown to Christmas Timer thumbnail" class="p-image">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2>Countdown to Christmas</h2>
              <p class="tasks">Web Design/Development</p>

              <p><a href="https://github.com/carltonstith/countdown-timer">Source Code</a></p>

              <p>HTML, CSS, and Vanilla JavaScript.</p>

              <p>This was a personal project. The inspiration for this project come from my kids who were always asking how many days there are until Christmas day. Feel free to fork and contribute to this project.</p>
              <a href="http://ceejaysmedia.com/countdown-timer-master/" target="_blank">View Site</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h2>Cuts By Us</h2>
              <p class="tasks">Web Design/Development/Social Media Management</p>
              <p>WordPress</p>
              <p>Cuts By Us is no longer in business. This barber shop was located in the historic Germantown section of Philadelphia, PA. The owner of this barber shop needed a web site and social media management. He required a website that would primarily serve two purposes. First, the local business wanted to establish a web presence (the owner has been in business since 2000 and has never had a web site) and second, serve as a virtual help-wanted ad. I was solely responsible for the ongoing maintenance of the website as well as their social media presence and activity.</p>
              <a href="http://www.cutsbyusphilly.com" target="_blank">View Site</a>
              <!-- <b-link href="http://www.cutsbyusphilly.com" target="_blank">View Site</b-link> -->
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="portfolio-image-two slide-left slide-animation" data-aos="fade-left">
              <img src="../../../assets/cutsByUsBarbershop.jpg" alt="Cuts By Us thumbnail" class="p-image">
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="portfolio-image-four slide-left slide-animation">
            <img src="../../../assets/better-dev-430x300.png" alt="Cuts By Us thumbnail" class="p-image" data-aos="fade-right">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2>10 Tips to Become a Better Web Developer</h2>
          <p class="tasks">Web Design/Development</p>
          <p><a href="https://github.com/carltonstith/better-web-developer">Source Code</a></p>
          <p>HTML, CSS, and Vue.js</p>
          <p>This was a personal project. This ongoing project of mine is a testament to my personal list of previous accomplishments and future goals. I am continuously learning and honing my craft so each tip is followed. Feel free to fork and contribute to this project.</p>
          <a href="http://carltonstith.github.io/better-web-developer/" target="_blank">View Site</a>
        </div>
      </div>

      <div class=" row margin-bottom30">
        <div class="col-lg-6 col-sm-12">
          <h2>Lucky Number Generator</h2>
          <p class="tasks">Web Design/Development</p>
          <p><a href="https://github.com/carltonstith/random-number-generator">Source code</a></p>
          <p>HTML, CSS, and Vue.js</p>
          <p>This personal project was created because I needed a random number with a random quote. I felt like my grandfather would have appreciated this so he could easily come up with a lucky number for playing the Lottery.</p>
          <a href="https://carltonstith.github.io/random-number-generator/" target="_blank">View Site</a>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="portfolio-image-five slide-right slide-animation" data-aos="fade-left">
            <img src="../../../assets/random-number-430x300.png" alt="Random Number Generator thumbnail" class="p-image">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
