<div class="portfolio container">
  <section class="bg-primary-3 text-dark margin-top40 margin-bottom40">
    <div class="container mt-lg-6">
      <div class="row">
        <div class="col">
          <h1 class="display-3" style="min-height: 160px">Carlton Stith<br>
            <span class="featured-title">
              {{ titles }}
            </span>
          </h1>
          <div class="my-4">
            <p class="lead">Hi. Thanks for taking a look at <span>my portfolio</span>. <br> Some of the projects that are featured here are <span>labors of love</span> and other were paid projects. <br> I'm currently <span>available for hire</span>.</p>
          </div>
          <button class="btn" routerLink="/experience" routerLinkActive="router-link-active">Hire Me</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 col-sm-12">
          <div class="portfolio-image-one slide-right slide-animation">
            <img src="../../../assets/music-playlist-app.png" alt="Music Playlist app thumbnail" class="p-image img-fluid">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2>Music Playlist App</h2>
              <p class="tasks">Web Design/Development</p>

              <p><a href="https://github.com/carltonstith/music-playlist">Source Code</a></p>

              <p>HTML, CSS, Angular 15, Firebase.</p>

              <p>An Angular 15 application that allows a user to search for music by an artist, play album snippets, and create a playlist of your favorite albums or songs. The user created list of songs uses a non-relational (NoSQL) Firebase database service.</p>
              <a href="https://music-playlist-steel.vercel.app/login" target="_blank">View Site</a>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 col-sm-12">
          <h2>Cuts By Us</h2>
              <p class="tasks">Web Design/Development/Social Media Management</p>
              <p>WordPress</p>
              <p>Cuts By Us is no longer in business. This barber shop was located in the historic Germantown section of Philadelphia, PA. The owner of this barber shop needed a web site and social media management. He required a website that would primarily serve two purposes. First, the local business wanted to establish a web presence (the owner has been in business since 2000 and has never had a web site) and second, serve as a virtual help-wanted ad. I was solely responsible for the ongoing maintenance of the website as well as their social media presence and activity.</p>
              <a href="http://www.cutsbyusphilly.com" target="_blank">View Site</a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="portfolio-image-two slide-left slide-animation">
              <img src="../../../assets/cutsByUsBarbershop.jpg" alt="Cuts By Us thumbnail" class="p-image img-fluid">
            </div>
          </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 col-sm-12">
          <div class="portfolio-image-four slide-left slide-animation">
            <img src="../../../assets/better-dev-430x300.png" alt="Cuts By Us thumbnail" class="p-image img-fluid">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2>10 Tips to Become a Better Web Developer</h2>
          <p class="tasks">Web Design/Development</p>
          <p><a href="https://github.com/carltonstith/better-web-developer">Source Code</a></p>
          <p>HTML, CSS, and Vue.js</p>
          <p>This was a personal project. This ongoing project of mine is a testament to my personal list of previous accomplishments and future goals. I am continuously learning and honing my craft so each tip is followed. Feel free to fork and contribute to this project.</p>
          <a href="http://carltonstith.github.io/better-web-developer/" target="_blank">View Site</a>
        </div>
      </div>

      <div class=" row margin-bottom30">
        <div class="col-lg-6 col-sm-12">
          <h2>Lucky Number Generator</h2>
          <p class="tasks">Web Design/Development</p>
          <p><a href="https://github.com/carltonstith/random-number-generator">Source code</a></p>
          <p>HTML, CSS, and Vue.js</p>
          <p>This personal project was created because I needed a random number with a random quote. I felt like my grandfather would have appreciated this so he could easily come up with a lucky number for playing the Lottery.</p>
          <a href="https://carltonstith.github.io/random-number-generator/" target="_blank">View Site</a>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="portfolio-image-five slide-right slide-animation">
            <img src="../../../assets/random-number-430x300.png" alt="Random Number Generator thumbnail" class="p-image img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
